@font-face {
	font-family: 'GolosTextWebVF';
	src: 
		url('/static/fonts/golos-text/golos-text_vf.woff2') format('woff2'),
		url('/static/fonts/golos-text/golos-text_vfF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*,
body {
    font-family: 'GolosTextWebVF';
}

.bg-blured {
	--bs-bg-opacity: .85;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}

.hm-video {
	width: 100vw;
	margin: -1.5rem;
}

article img {
	width: 100%;
	border-radius: 1rem;

}

@media (min-width: 768px) {
	.hm-video {
		width: 100%;
		margin: 0;
		border-radius: 1rem !important;
	}
}
